<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.coffee.baby"/>
    <aop:aspectj-autoproxy/>

    <!--横切关注点和目标类-->
    <bean id="agvCompass" class="com.coffee.baby.aop.AgvCompass"/>
    <bean id="sortCompass" class="com.coffee.baby.aop.SortCompass"/>
    <bean id="logHandler" class="com.coffee.baby.aop.LogHandler"/>
    <!--如果proxy-target-class="true" 基于类的代理基于类的代理将起作用，
    如果proxy-target-class被设置为false或者这个属性被省略，那么基于接口的代理将起作用-->
    <!--<aop:config >-->
        <!--<aop:aspect id="log" ref="logHandler">-->
            <!--<aop:pointcut id="allMethod" expression="execution(* com.coffee.baby.aop.CompassInterface.*(..))"/>-->
            <!--<aop:before method="printDeviceLog" pointcut-ref="allMethod"/>-->
            <!--<aop:after method="printDeviceLog" pointcut-ref="allMethod"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
</beans>