<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc:war exploded">
    <output-path>$PROJECT_DIR$/spring-mvc/target/spring-mvc</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.4.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp.jstl:javax.servlet.jsp.jstl-api:1.2.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.4" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.8.0-beta2" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-slf4j18-impl:2.11.1" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-jcl:2.11.1" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.11.1" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-core:2.11.1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-mvc/target/spring-mvc/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-mvc/web/Web" />
    </root>
  </artifact>
</component>